# Node modules directory
node_modules/

# Environment variables file
.env

# Logs
logs/
*.log

# OS and editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# npm or yarn debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Temporary files
*.tmp
*.cache
